<?xml version="1.0"?>
<!--

  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="triago">

  <!-- ARGUMENTS -->

  <!-- no-laser, sick-571-->
  <xacro:arg name="laser_model" default="sick-571"/>

  <!-- triago, no-arm -->
  <xacro:arg name="arm_type_left" default="triago" />

  <!-- triago, no-arm -->
  <xacro:arg name="arm_type_right" default="triago" />

  <xacro:arg name="arm_type_head" default="triago" />

  <!-- pal-pro-gripper custom-->
  <xacro:arg name="end_effector_left" default="pal-pro-gripper" />

  <!-- pal-pro-gripper, custom-->
  <xacro:arg name="end_effector_right" default="pal-pro-gripper" />

  <xacro:arg name="end_effector_head" default="pal-pro-gripper" />


  <!-- no-ft-sensor, rokubi -->
  <xacro:arg name="ft_sensor_left" default="no-ft-sensor" />

  <!-- no-ft-sensor, rokubi -->
  <xacro:arg name="ft_sensor_right" default="no-ft-sensor" />

  <xacro:arg name="ft_sensor_head" default="no-ft-sensor" />


  <xacro:arg name="use_sim_time" default="false"/>
  <xacro:arg name="is_public_sim" default="false"/>
  <xacro:arg name="is_multiple" default="false"/>
  <xacro:arg name="description_calibration_dir" default="$(find triago_description)/urdf"/>
  <xacro:arg name="extrinsic_calibration_dir" default="$(find triago_description)/urdf"/>
  <xacro:arg name="arm_x" default="0.089428" />
  <xacro:arg name="arm_y" default="0.15903" />
  <xacro:arg name="arm_z" default="0.46268" />
  <xacro:arg name="arm_roll" default="-2.0961" />
  <xacro:arg name="arm_pitch" default="0.31441" />
  <xacro:arg name="arm_yaw" default="-1.3991" />

  <!-- PROPERTIES -->

  <xacro:property name="use_sim_time" value="$(arg use_sim_time)" />
  <xacro:property name="is_multiple" value="$(arg is_multiple)" />
  <xacro:property name="laser_model" value="$(arg laser_model)" />
  <xacro:property name="arm_type_left" value="$(arg arm_type_left)" />
  <xacro:property name="arm_type_right" value="$(arg arm_type_right)" />
  <xacro:property name="arm_type_head" value="$(arg arm_type_head)" />
  <xacro:property name="end_effector_left" value="$(arg end_effector_left)" />
  <xacro:property name="end_effector_right" value="$(arg end_effector_right)" />
  <xacro:property name="end_effector_head" value="$(arg end_effector_head)" />
  <xacro:property name="ft_sensor_left" value="$(arg ft_sensor_left)" />
  <xacro:property name="ft_sensor_right" value="$(arg ft_sensor_right)" />
  <xacro:property name="ft_sensor_head" value="$(arg ft_sensor_head)" />
  <xacro:property name="arm_type" value="triago" />
  <xacro:property name="description_calibration_dir" value="${arg description_calibration_dir}"/>
  <xacro:property name="is_public_sim" value="$(arg is_public_sim)" />

  <xacro:property name="has_arm_left" value="${arm_type_left not in ['no-arm']}"/>
  <xacro:property name="has_ft_sensor_left" value="${ft_sensor_left not in ['no-ft-sensor']}"/>
  <xacro:property name="has_end_effector_left" value="${end_effector_left not in ['no-end-effector']}" />
  <xacro:property name="end_effector_left_link" value="${'wrist_left_ft_tool_link' if has_ft_sensor_left else 'arm_left_tool_link'}" />
  <xacro:property name="end_effector_left_name" value="gripper_left" />

  <xacro:property name="has_arm_right" value="${arm_type_right not in ['no-arm']}"/>
  <xacro:property name="has_ft_sensor_right" value="${ft_sensor_right not in ['no-ft-sensor']}"/>
  <xacro:property name="has_end_effector_right" value="${end_effector_right not in ['no-end-effector']}" />
  <xacro:property name="end_effector_right_link" value="${'wrist_right_ft_tool_link' if has_ft_sensor_right else 'arm_right_tool_link'}" />
  <xacro:property name="end_effector_right_name" value="gripper_right" />

  <xacro:property name="has_arm_head" value="${arm_type_head not in ['no-arm']}"/>
  <xacro:property name="has_ft_sensor_head" value="${ft_sensor_head not in ['no-ft-sensor']}"/>
  <xacro:property name="has_end_effector_head" value="${end_effector_head not in ['no-end-effector']}" />
  <xacro:property name="end_effector_head_link" value="${'wrist_head_ft_tool_link' if has_ft_sensor_head else 'arm_head_tool_link'}" />
  <xacro:property name="end_effector_head_name" value="gripper_head" />

  <!-- Properties check -->
  <xacro:if value="${arm_type_left not in ['triago', 'no-arm']}">
    <xacro:wrong_arm_type_left />
  </xacro:if>
  <xacro:if value="${arm_type_right not in ['triago', 'no-arm']}">
    <xacro:wrong_arm_type_right />
  </xacro:if>
  <xacro:if value="${arm_type_head not in ['triago', 'no-arm']}">
    <xacro:wrong_arm_type_head />
  </xacro:if>
  <xacro:if value="${end_effector_left not in ['pal-pro-gripper', 'custom', 'allegro-hand', 'no-end-effector']}">
    <xacro:wrong_end_effector_left />
  </xacro:if>
  <xacro:if value="${end_effector_right not in ['pal-pro-gripper', 'custom', 'allegro-hand', 'no-end-effector']}">
    <xacro:wrong_end_effector_right />
  </xacro:if>
  <xacro:if value="${end_effector_head not in ['pal-pro-gripper', 'custom', 'allegro-hand', 'no-end-effector']}">
    <xacro:wrong_end_effector_head />
  </xacro:if>
  <xacro:if value="${ft_sensor_left not in ['no-ft-sensor', 'rokubi']}">
    <xacro:wrong_ft_sensor_left />
  </xacro:if>
  <xacro:if value="${ft_sensor_right not in ['no-ft-sensor', 'rokubi']}">
    <xacro:wrong_ft_sensor_right />
  </xacro:if>
  <xacro:if value="${ft_sensor_head not in ['no-ft-sensor', 'rokubi']}">
    <xacro:wrong_ft_sensor_head />
  </xacro:if>
  <xacro:if value="${laser_model not in ['no-laser', 'sick-571']}">
    <xacro:wrong_laser_model />
  </xacro:if>

  <!-- INCLUDES -->

  <!-- Tools -->
  <xacro:include filename="$(find pal_urdf_utils)/urdf/deg_to_rad.urdf.xacro" />

  <!-- Base -->
  <xacro:include filename="$(find omni_base_description)/urdf/base/base_sensors.urdf.xacro" />

  <!-- Torso -->
  <xacro:include filename="$(find triago_description)/urdf/torso/torso_dual.urdf.xacro" />

  <!-- Calibration constants -->
  <xacro:include filename="$(arg description_calibration_dir)/calibration_constants.urdf.xacro" />

  <!-- Arm -->
  <xacro:if value="${has_arm_right or has_arm_left}">
    <xacro:include filename="$(find pal_sea_arm_description)/urdf/arm/arm.urdf.xacro" />
  </xacro:if>

  <!-- End effector -->
  <xacro:if value="${(has_arm_right or has_arm_left) and (has_end_effector_right or has_end_effector_left)}">
    <xacro:include filename="$(find triago_description)/urdf/end_effector/end_effector.urdf.xacro" />
    <xacro:include filename="$(find pal_sea_arm_description)/urdf/tool_changer/tool_changer.urdf.xacro" />
  </xacro:if>

  <!-- Allegro hand and tool changer-->
  <xacro:if value="${end_effector_right == 'allegro-hand' or end_effector_left == 'allegro-hand' or end_effector_head == 'allegro-hand'}">
    <xacro:include filename="$(find allegro_hand_description)/urdf/allegro_hand.urdf.xacro" />
  </xacro:if>

  <!-- Force Torque sensor -->
  <xacro:if value="${has_ft_sensor_right or has_ft_sensor_left or has_ft_sensor_head}">
    <xacro:include filename="$(find triago_description)/urdf/ft_sensor/ft_sensor.urdf.xacro" />
  </xacro:if>

  <!-- Materials for visualization -->
  <xacro:include filename="$(find pal_urdf_utils)/urdf/materials.urdf.xacro" />

  <!-- ROS 2 Control -->
  <xacro:include filename="$(find triago_description)/ros2_control/ros2_control.urdf.xacro" />

  <!-- ROBOT DEFINITION -->

  <!-- Base -->
  <xacro:base_sensors name="base" front_laser_model="$(arg laser_model)" rear_laser_model="$(arg laser_model)"/>

  <!-- Torso. TODO:change for custom torso -->
  <xacro:triago_torso name="torso" parent="base_link"/>

  <!-- Left arm -->
  <xacro:if value="${has_arm_left}">

    <!-- Arm -->
    <xacro:pal_sea_arm name="arm_left" parent="arm_left_link" arm_type="$(arg arm_type_left)" reflect="1" arm_1_offset="${arm_left_1_joint_offset}" arm_2_offset="${arm_left_2_joint_offset}" arm_3_offset="${arm_left_3_joint_offset}" arm_4_offset="${arm_left_4_joint_offset}" arm_5_offset="${arm_left_5_joint_offset}" arm_6_offset="${arm_left_6_joint_offset}" arm_7_offset="${arm_left_7_joint_offset}">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${90.0 * deg_to_rad}"/>
    </xacro:pal_sea_arm>

    <!-- End effector -->
    <xacro:if value="${has_end_effector_left}">
       <xacro:tool_changer name="tool_changer_left" parent="${end_effector_left_link}">
         <xacro:if value="${has_ft_sensor_left}">
              <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            </xacro:if>
            <xacro:unless value="${has_ft_sensor_left}">
              <origin xyz="0.0 0.0 0.0" rpy="${-90.0 * deg_to_rad} ${90.0 * deg_to_rad} ${-90.0 * deg_to_rad}"/>
            </xacro:unless>
        </xacro:tool_changer>
      <xacro:triago_end_effector name="gripper_left" parent="tool_changer_left_tc_tool_link" type="${end_effector_left}" has_end_effector="${has_end_effector_left}" reflect="-1" is_dual="true"/>
    </xacro:if>

    <!-- FT sensors -->
    <xacro:if value="${has_ft_sensor_left}">
      <xacro:ft_sensor name="wrist_left" parent="arm_left_tool_link"/>
    </xacro:if>
  
  </xacro:if>

  <!-- Right arm -->
  <xacro:if value="${has_arm_right}">

    <!-- Arm -->
    <xacro:pal_sea_arm name="arm_right" parent="arm_right_link" arm_type="$(arg arm_type_right)" reflect="1" arm_1_offset="${arm_right_1_joint_offset}" arm_2_offset="${arm_right_2_joint_offset}" arm_3_offset="${arm_right_3_joint_offset}" arm_4_offset="${arm_right_4_joint_offset}" arm_5_offset="${arm_right_5_joint_offset}" arm_6_offset="${arm_right_6_joint_offset}" arm_7_offset="${arm_right_7_joint_offset}">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${-90.0 * deg_to_rad}"/>
    </xacro:pal_sea_arm>

    <!-- End effector -->

    <xacro:if value="${has_end_effector_right}">
       <xacro:tool_changer name="tool_changer_right" parent="${end_effector_right_link}">
         <xacro:if value="${has_ft_sensor_right}">
              <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            </xacro:if>
            <xacro:unless value="${has_ft_sensor_right}">
              <origin xyz="0.0 0.0 0.0" rpy="${-90.0 * deg_to_rad} ${90.0 * deg_to_rad} ${-90.0 * deg_to_rad}"/>
            </xacro:unless>
        </xacro:tool_changer>
      <xacro:triago_end_effector name="gripper_right" parent="tool_changer_right_tc_tool_link" type="${end_effector_right}" has_end_effector="${has_end_effector_right}" reflect="1" is_dual="true"/>
    </xacro:if>

    
    <!-- FT sensors -->
    <xacro:if value="${has_ft_sensor_right}">
      <xacro:ft_sensor name="wrist_right" parent="arm_right_tool_link"/>
    </xacro:if>


  </xacro:if>

  <!-- Third arm -->
  <xacro:if value="${has_arm_head}">

    <!-- Arm -->
    <xacro:pal_sea_arm name="arm_head" parent="torso_lift_link" arm_type="$(arg arm_type_head)" reflect="1" arm_1_offset="${arm_right_1_joint_offset}" arm_2_offset="${arm_right_2_joint_offset}" arm_3_offset="${arm_right_3_joint_offset}" arm_4_offset="${arm_right_4_joint_offset}" arm_5_offset="${arm_right_5_joint_offset}" arm_6_offset="${arm_right_6_joint_offset}" arm_7_offset="${arm_right_7_joint_offset}">
      <origin xyz="0.00733452377915612 0.0 0.630632193308821" rpy="0 0.785398163397445 0"/>
    </xacro:pal_sea_arm>

    <!-- End effector -->
    <xacro:if value="${has_end_effector_head}">
       <xacro:tool_changer name="tool_changer_head" parent="${end_effector_head_link}">
         <xacro:if value="${has_ft_sensor_head}">
              <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            </xacro:if>
            <xacro:unless value="${has_ft_sensor_head}">
              <origin xyz="0.0 0.0 0.0" rpy="${-90.0 * deg_to_rad} ${90.0 * deg_to_rad} ${-90.0 * deg_to_rad}"/>
            </xacro:unless>
        </xacro:tool_changer>
      <xacro:triago_end_effector name="gripper_head" parent="tool_changer_head_tc_tool_link" type="${end_effector_head}" has_end_effector="${has_end_effector_head}" reflect="1" is_dual="true"/>
    </xacro:if>

    <!-- FT sensors -->
    <xacro:if value="${has_ft_sensor_head}">
      <xacro:ft_sensor name="wrist_head" parent="arm_head_tool_link"/>
    </xacro:if>
    

  </xacro:if>



  <!-- ROS 2 Control -->
  <xacro:triago_ros2_control use_sim_time="$(arg use_sim_time)" />

</robot>
