<?xml version="1.0"?>
<!--

  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0
      
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="tool_changer" params="name parent">
    <!--************************-->
    <!--        ft sensor       -->
    <!--************************-->

    <link name="${name}_tc_base_link">
        <inertial>
          <origin
           xyz="-7.7517E-05 -0.00017089 0.003965"
           rpy="0 0 0" />
          <mass
            value="0.033254" />
          <inertia
            ixx="1.2371E-05"
            ixy="1.4319E-07"
            ixz="2.7745E-07"
            iyy="1.5119E-05"
            iyz="-2.1946E-08"
            izz="2.722E-05" />
        </inertial>
        <visual>
          <origin
            xyz="0 0 0"
            rpy="0 0 0" />
          <geometry>
            <mesh
              filename="package://triago_description/meshes/tool_changer/base_link.STL" />
          </geometry>
          <material
            name="">
            <color
              rgba="0.75294 0.75294 0.75294 1" />
          </material>
        </visual>
        <collision>
          <origin
            xyz="0 0 0"
            rpy="0 0 0" />
          <geometry>
            <mesh
              filename="package://triago_description/meshes/tool_changer/base_link.STL" />
          </geometry>
        </collision>
    </link>

    <joint name="${name}_tc_base_joint" type="fixed">
      <parent link="${parent}" />
      <child link="${name}_tc_base_link" />
      <origin xyz="0.0 0 0" rpy="${-90.0 * deg_to_rad} ${45.0 * deg_to_rad} ${-90.0 * deg_to_rad}" />
    </joint>

    <link
      name="${name}_tc_tool_link">
      <inertial>
        <origin
          xyz="-0.00052526 0.0003415 -0.0041487"
          rpy="0 0 0" />
        <mass
          value="0.03447" />
        <inertia
          ixx="1.6829E-05"
          ixy="2.9746E-07"
          ixz="-4.1936E-08"
          iyy="1.4935E-05"
          iyz="2.7742E-08"
          izz="3.0915E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://triago_description/meshes/tool_changer/allegro_tc_out_link.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://triago_description/meshes/tool_changer/allegro_tc_out_link.STL" />
        </geometry>
      </collision>
    </link>

    <joint
      name="${name}_tc_tool_joint"
      type="fixed">
      <origin
        xyz="0 0 0.018"
        rpy="0 0 0" />
      <parent
        link="${name}_tc_base_link" />
      <child
        link="${name}_tc_tool_link" />
      <axis
        xyz="0 0 0" />
    </joint>
    
    <gazebo reference="${name}_tc_base_link">
      <material>Gazebo/DarkGrey</material>
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </gazebo>


</xacro:macro>

</robot>
