<?xml version="1.0" ?>
<!--

  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--Constant parameters-->
  <xacro:property name="torso_max_vel"  value="0.093" />
  <xacro:property name="torso_eps"      value="0.02" />

  <xacro:macro name="triago_torso" params="name parent">

  <!-- Bottom fixed part of column -->
  <link name="${name}_fixed_link">
      <inertial>
        <origin xyz="-0.043624513712351 -5.47054746000779E-05 0.0277532809798974" rpy="0 0 0" />
        <mass value="1.00223030186675" />
        <inertia ixx="0.00660602943010985" ixy="3.32767644990319E-05" ixz="-0.000408545705396379" iyy="0.00690807320580873" iyz="8.29177467923023E-06" izz="0.0122016808119362" />
      </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://triago_description/meshes/torso/torso_fixed.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://triago_description/meshes/torso/torso_fixed_collision.stl" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="${name}_fixed_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <joint name="${name}_fixed_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.0245 0 0.215" />
    <parent link="${parent}" />
    <child link="${name}_fixed_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- Middle extending  -->
  <link name="${name}_fixed_column_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.275" />
      <geometry>
        <box size="0.18 0.2 0.55"/>
      </geometry>
      <material name="pal/DarkGrey"/>
    </visual>
  </link>

  <gazebo reference="${name}_fixed_column_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <joint name="${name}_fixed_column_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.028 0 0.205" />
    <parent link="${parent}" />
    <child link="${name}_fixed_column_link" />
    <axis xyz="0 0 0" />
  </joint>


  <link name="${name}_lift_link">
     <inertial>
      <origin xyz="0 0 0.5545" rpy="0 0 0" />
        <mass value="3.24266045177967" />
        <inertia ixx="0.0295369723560087" ixy="-7.85101789883696E-07" ixz="-8.58576921315497E-05" iyy="0.0170989395656347" iyz="-8.17944373020342E-06" izz="0.0290055792681799" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://triago_description/meshes/torso/torso_lift_link.stl" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.29804 0.29804 0.29804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.0 0.0 0.0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://triago_description/meshes/torso/torso_lift_link_collision.stl" />
      </geometry>
    </collision>
    <collision>
          <origin xyz="-0.226436438571948 3.12797385809451E-05 0.55984038105676683" rpy="0 0 -1.5707963267949" />
          <geometry>
            <mesh filename="package://triago_description/meshes/torso/laptop_tray_collision.stl" />
          </geometry>
    </collision>
  </link>

  <!-- TODO: set lower limit back to 0 when moving to Gazebo Harmonic or ROS 2 Jazzy -->
  <!-- See https://github.com/gazebosim/gz-sim/issues/1684 for more information -->
  <xacro:if value="${gazebo_version == 'classic'}">
    <xacro:property name="torso_lower_limit" value="0.0"/>
  </xacro:if>
  <xacro:if value="${gazebo_version == 'gazebo'}">
    <xacro:property name="torso_lower_limit" value="-1e-3"/>
  </xacro:if>

  <joint name="${name}_lift_joint" type="prismatic">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.005" />
    <parent link="${name}_fixed_link" />
    <child link="${name}_lift_link" />
    <axis xyz="0 0 1" />
    <limit effort="1000.0" lower="${torso_lower_limit}" upper="0.34" velocity="${torso_max_vel}" />
  </joint>

  <xacro:include filename="$(find pal_urdf_utils)/urdf/interaction_sensors/imu.urdf.xacro"/>
  <xacro:imu_sensor name="${name}_imu" parent="${name}_lift_link" update_rate="1000">
    <origin xyz="0.0985 0.0014 0.38079" rpy="1.570796327 0 -1.570796327" />
  </xacro:imu_sensor>

  <link name="${name}_arm_left_link"/>

  <joint
    name="${name}_arm_left_joint"
    type="fixed">
    <origin xyz="0.0898413194899453 0.159181203216899 0.46245" rpy="-2.06788770984932 0 -1.22173047639603" />
    <parent
      link="${name}_lift_link" />
    <child
      link="${name}_arm_left_link" />
    <axis
      xyz="0 0 0" />
  </joint>

 <link name="${name}_arm_right_link"/>

  <joint
    name="${name}_arm_right_joint"
    type="fixed">
    <origin xyz="0.0898413194899453 -0.1591812032169 0.46245" rpy="-2.06788770984932 0 -1.91986217719377" />
    <parent
      link="${name}_lift_link" />
    <child
      link="${name}_arm_right_link" />
    <axis
      xyz="0 0 0" />
  </joint>


 <link name="${name}_arm_head_link"/>

  <joint
    name="${name}_arm_head_joint"
    type="fixed">
    <origin
      xyz="0.00733452377915612 0 0.630632193308821"
      rpy="0 0.785398163397445 0" />
    <parent
      link="${name}_lift_link" />
    <child
      link="${name}_arm_head_link" />
    <axis
      xyz="0 0 0" />
  </joint>

  </xacro:macro>
</robot>
