<?xml version="1.0" ?>
<!--

  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--Constant parameters-->
  <xacro:property name="torso_max_vel"  value="0.07" />
  <xacro:property name="torso_eps"      value="0.02" />

  <xacro:macro name="tiago_pro_torso" params="name parent">

  <!-- Bottom fixed part of column -->
  <link name="${name}_fixed_link">
    <inertial>
      <origin  xyz="0.0014857 -0.0077054 0.14693" rpy="0 0 0" />
      <mass
        value="15.527" />
      <inertia ixx="0.17904" ixy="0.00019412" ixz="-0.0049479" 
               iyy="0.20082" iyz="0.00015981" izz="0.084141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tiago_pro_description/meshes/torso/torso_fixed_link.stl" />
      </geometry>
      <material name="pal/DarkGrey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.1" />
      <geometry>
        <box size="0.23 0.253 0.2"/>
      </geometry>
      <material name="pal/DarkGrey"/>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.18 0 0.03" />
      <geometry>
        <box size="0.15 0.253 0.06"/>
      </geometry>
      <material name="pal/DarkGrey"/>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="-0.09 0 0.0" />
      <geometry>
        <box size="0.47 0.5 0.02"/>
      </geometry>
      <material name="pal/DarkGrey"/>
    </collision>
  </link>

  <gazebo reference="${name}_fixed_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <joint name="${name}_fixed_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.0245 0 0.215" />
    <parent link="${parent}" />
    <child link="${name}_fixed_link" />
    <axis xyz="0 0 0" />
  </joint>

  <!-- Middle extending  -->
  <link name="${name}_fixed_column_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.01" />
      <inertia ixx="0.000001" ixy="0" ixz="0"
               iyy="0.000001" iyz="0"
               izz="0.000001" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.275" />
      <geometry>
        <box size="0.18 0.2 0.55"/>
      </geometry>
      <material name="pal/DarkGrey"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.275" />
      <geometry>
        <box size="0.23 0.253 0.45"/>
      </geometry>
      <material name="pal/DarkGrey"/>
    </collision>
  </link>
  <gazebo reference="${name}_fixed_column_link">
    <material>Gazebo/DarkGrey</material>
  </gazebo>

  <joint name="${name}_fixed_column_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.028 0 0.205" />
    <parent link="${parent}" />
    <child link="${name}_fixed_column_link" />
    <axis xyz="0 0 0" />
  </joint>


  <link
    name="${name}_lift_link">
    <inertial>
      <origin
        xyz="0.0014742 0.0065278 -0.20301"
        rpy="0 0 0" />
      <mass
        value="9.547" />
      <inertia
        ixx="0.042078"
        ixy="5.6766E-05"
        ixz="0.00014731"
        iyy="0.031115"
        iyz="-5.0165E-05"
        izz="0.018659" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tiago_pro_description/meshes/torso/torso_lift_link.stl" />
      </geometry>
      <material name="White"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://tiago_pro_description/meshes/torso/torso_lift_link_collision.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="${name}_lift_joint" type="prismatic">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.5545" />
    <parent link="${name}_fixed_link" />
    <child link="${name}_lift_link" />
    <axis xyz="0 0 1" />
    <limit effort="2000" lower="0" upper="0.35" velocity="${torso_max_vel}" />
    <calibration rising="0.0" />
    <dynamics damping="1000" />

    <safety_controller k_position="20"
                         k_velocity="20"
                         soft_lower_limit="0.0"
                         soft_upper_limit="0.35" />

  </joint>
 
  <gazebo reference="${name}_lift_joint">
     <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  </xacro:macro>
</robot>
