<?xml version="1.0"?>
<!--

  Copyright (c) 2024 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
    Utiliy to create a triago end effector (right or left).

    Parameters:
    - name: End effector name. The created links and joints are prepended with 'name_'
    - parent: Parent link
    - reflect: Set to 1 for a right end effector, or to -1 for a left end effector
  -->
  <xacro:macro name="triago_end_effector" params="name parent type has_end_effector reflect is_dual:=false">

  <!-- No end-effector -->
  <xacro:if value="${not has_end_effector}">
  </xacro:if>


  <!-- PAL Pro Gripper -->
  <xacro:if value="${type == 'pal-pro-gripper'}">
    <xacro:include filename="$(find pal_pro_gripper_description)/urdf/gripper.urdf.xacro" />
          <xacro:pal_pro_gripper name="${name}" parent="${parent}" tool_changer="true">
      <origin xyz="-0.0 0.0 0.066" rpy="0 0 0"/>
    </xacro:pal_pro_gripper>
  </xacro:if>

  <!--Allegro Hand-->
  <xacro:if value="${type == 'allegro-hand'}">
    <xacro:include filename="$(find allegro_hand_description)/urdf/allegro_hand.urdf.xacro" />
    <xacro:allegro_hand name="${name}" parent="${parent}" reflect="${reflect}">
      <origin xyz="-0.00956 -0.001 0.094" rpy="0.0 0.0 ${-180.0 * deg_to_rad}"/>
    </xacro:allegro_hand>
  </xacro:if>

  </xacro:macro>

</robot>
